* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: GenshinUsedFont;
  src: url("../../../../data/font/HYWenHei-85W.ttf");
}

html {
  background-color: #efeae3;
}

body {
  width: 960px;
  font-family: GenshinUsedFont, monospace;
  background: no-repeat 100%/100% url("http://localhost:9934/resources/Version2/module/user-base.png");
}

#app,
body {
  min-height: 582px;
}

.user-base-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 582px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  margin-top: 8px;
}

.right {
  justify-content: space-between;
  padding-top: 5%;
}

.user-base-page .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.uid {
  position: absolute;
  color: #ffffff;
  font-size: 16px;
  top: 18px;
  text-shadow: 0 0 4px #333333ab;
}

.name-card {
  width: 424px;
  border-radius: 10px 4px 0 0;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 142px;
  background: #efeae3ed;
  border-radius: 50%;
  border: 2px solid #d5bf94;
  box-shadow: 0 2px 12px #00000014;
  margin-top: -110px;
  backdrop-filter: blur(4px);
}

.character {
  position: relative;
  background-color: hsl(25deg 49% 65%);
  width: 126px;
  border-radius: 50%;
}

.container-middle {
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 2px solid #e0d7c9;
  box-sizing: border-box;
  border-radius: 6px;
  color: #4a5263;
  padding: 8px 0;
}

.middle {
  display: grid;
  grid-template-columns: auto 100px auto max-content;
  row-gap: 1px;
  width: 80%;
}

.bottom-split {
  margin-top: 4.2%;
}

.bottom-split .title .icon {
  margin-left: 6.5%;
}

.left .bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
  width: 384px;
  margin-top: 10px;
}

.right .character {
  position: relative;
  width: 100%;
  top: 3.5%;
}

.author {
  width: 100%;
  text-align: end;
  margin-right: 25px;
  margin-bottom: 12px;
  font-size: 13px;
  color: #4a5263d6;
}

.container-character {
  width: 100%;
}

.container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.character-box {
  position: relative;
  display: grid;
  grid-template-rows: 88px 1fr;
  align-items: center;
  height: 120px;
  width: 88px;
  background-color: rgb(233, 229, 220);
  border-radius: 6px;
  box-shadow: 0 2px 4px #00000014;
}

.element {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  z-index: 101;
}

.char-container {
  border-radius: 6px 6px 12px 0;
  display: flex;
}

.main {
  width: 88px;
  border-radius: 6px 6px 12px 0;
}

.char-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  font-size: 10px;
}

.char-info .level {
  color: rgb(0, 176, 80);
  margin-right: 4px;
}

.char-info .fetter {
  color: rgb(231, 13, 177);
}

.char-info .weapon-name {
  color: rgb(0, 176, 80);
}

.char-info .weapon-affix {
  color: rgb(231, 13, 177);
}

.container-exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explorations {
  color: #495366;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.exploration {
  width: 198px;
  height: 66px;
  background: no-repeat center/100%
    url("https://adachi-bot.oss-cn-beijing.aliyuncs.com/Version2/module/user-nase-exp-bg.png");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 72px;
  filter: brightness(0.9) contrast(1.1);
}

.exploration .exp-area {
  display: grid;
  grid-template-columns: max-content auto;
  width: 90%;
  align-items: center;
  margin-top: -3px;
}

.container-detailedExploration {
  display: grid;
  grid-template-columns: auto max-content;
  font-size: 14px;
  width: 90%;
  grid-row-gap: 2px;
}

.home-box {
  position: relative;
  display: flex;
  flex-direction: row;
}

.home-box .home-background {
  border-radius: 14px;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}

.home-box .lock-icon {
  height: 30px;
  filter: drop-shadow(0 0 4px #333333a1);
}

.locked,
.unlock {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.unlock-content-block,
.locked-content-block {
  display: grid;
  grid-row-gap: 1px;
  justify-items: center;
  width: 100%;
  padding: 10px 0;
  backdrop-filter: brightness(0.7) blur(2px);
}

.home-box .name {
  color: rgb(242, 210, 134);
  font-size: 13px;
}

.home-box .comfort {
  font-size: 11px;
  font-weight: 300;
}

.section-title {
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #84603d;
  width: 432px;
}

.section-title .icon {
  width: 30px;
  height: 30px;
}

.split-line {
  max-height: 12px;
  margin: 0 3%;
}

.bottom-split .split-line {
  width: 80%;
}
