* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: GenshinUsedFont;
  font-display: swap;
  src: url("../../../../data/font/HYWenHei-85W.ttf");
}

@font-face {
  font-family: YunXiJinShu;
  font-display: swap;
  src: url("../../../../data/font/YunXiJinShu.ttf");
}

@font-face {
  font-family: azuki;
  font-display: fallback;
  src: url("../../../../data/font/azuki.ttf");
}

html {
  background-color: #efeae3;
  -webkit-text-stroke: 0.018em currentColor;
  color: #495363;
}

body {
  width: 960px;
  font-family: GenshinUsedFont, monospace, sans-serif;
  background: no-repeat url("http://localhost:9934/resources/Version2/module/user-base.png");
  background-size: 100% 100%;
}

#app,
body {
  min-height: 582px;
}

.user-base-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 582px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 582px;
}

.left {
  justify-content: flex-start;
  margin-top: 10px;
}

.right {
  justify-content: space-between;
  padding-top: 18px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 175px;
  width: 424px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-frame {
  position: absolute;
  width: 424px;
  height: 98vh;
  /* 下面这行测试用，记得删 */
  /* height: 615px !important; */
  display: flex;
  flex-direction: column;
}

.left-page-middle-frame {
  flex: 1 1 auto;
  background-size: 100% !important;
  background: url("http://localhost:9934/resources/Version2/frames/namecard-middle.svg") repeat-y;
}

.user-namecard-bottom {
  transform: scaleY(-1);
}

.container-player-info {
  color: #fff;
  font-size: 12px;
  text-shadow: 0 0 4px #333333ab;
  background: #33333354;
  border: solid 2px #f0ebe39c;
  padding: 4px 15px 2px 15px;
  border-radius: 50px;
  margin-top: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
  min-height: 25px;
}

.player-info {
  display: grid;
  grid-template-columns: max-content auto;
  grid-row-gap: 1px;
  justify-items: stretch;
}

.uid {
  grid-column: 1 / -1;
}

.profile {
  display: flex;
  margin-top: 8px;
  border-radius: 50%;
  padding: 14px;
  background: radial-gradient(
    circle,
    rgba(239, 234, 227, 0.93) 60%,
    rgba(239, 234, 227, 0.1) 60.5%,
    rgba(239, 234, 227, 0.1) 65.5%,
    rgba(239, 234, 227, 0) 66%,
    rgba(239, 234, 227, 0) 68%,
    rgba(239, 234, 227, 0.05) 68.5%,
    rgba(239, 234, 227, 0.05) 68.8%
  );
}

.character {
  position: relative;
  background-color: hsl(25deg 49% 65%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.container-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.stats {
  display: grid;
  grid-template-columns: auto 100px auto max-content;
  row-gap: 3px;
  min-width: 300px;
  min-height: 125px;
}

.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-content {
  display: grid;
  grid-template-areas:
    "arrow-left main-title arrow-right"
    "sub-title sub-title sub-title";
  grid-template-rows: 30px max-content;
  grid-template-columns: auto min-content auto;
  align-items: center;
  justify-items: center;
  grid-column-gap: 5px;
}

.arrow-left {
  width: 18px;
  justify-self: end;
}

.arrow-right {
  width: 18px;
  transform: scaleX(-1);
  justify-self: start;
}

.main-title {
  white-space: nowrap;
  font-size: 20px;
  transform: translateY(0.03em);
}

.subtitle {
  grid-area: sub-title;
  font-size: 12px;
}

.container-homes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
  width: 384px;
  margin-top: 5px;
}

.right .character {
  position: relative;
  width: 100%;
  top: 3.5%;
}

.container-character {
  margin-bottom: 8px;
  margin-top: 10px;
}

.container-home-box {
  width: 384px;
  margin-top: 25px;
}

.container-character-box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 10px;
  min-width: 250px;
  width: fit-content;
  margin-top: 5px;
}

.character-box {
  position: relative;
  display: grid;
  grid-template-rows: 88px 1fr;
  align-items: center;
  height: 120px;
  width: 88px;
  background-color: rgb(233, 229, 220);
  border-radius: 6px;
  box-shadow: 0 2px 4px #00000014;
}

.element {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  z-index: 101;
}

.char-container {
  border-radius: 6px 6px 12px 0;
  display: flex;
}

.main {
  width: 88px;
  height: 88px;
  border-radius: 6px 6px 12px 0;
}

.char-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  font-size: 10px;
}

.constellation {
  position: absolute;
  background: #33333391;
  color: #f0ebe3;
  right: 0;
  font-size: 13px;
  width: 15px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 6px;
  backdrop-filter: blur(4px);
}

.max-constellation {
  color: hsl(45deg 100% 64%);
  text-shadow: 0 0 4px hsl(45deg 100% 20%);
}

.char-level {
  margin-right: 4px;
}

.weapon-affix {
  color: hsl(36deg 70% 48%);
}

.container-exploration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 5px;
  margin-top: 5px;
}

.exploration {
  width: 202px;
  height: 66px;
  background: no-repeat url("http://localhost:9934/resources/Version2/module/user-nase-exp-bg.png");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: 100% 100%;
}

.logo {
  width: 64px;
  height: 64px;
  -webkit-mask-size: 64px;
  background: linear-gradient(hsl(59, 47%, 75%) 0%, hsl(42, 59%, 76%) 45%, hsl(37, 29%, 57%) 80%);
}

.exp-area {
  display: grid;
  grid-template-columns: max-content auto;
  height: 100%;
  width: 90%;
  align-items: center;
  margin-left: 6px;
}

.container-detailedExploration {
  display: grid;
  grid-template-columns: minmax(56px, max-content) max-content;
  font-size: 14px;
  width: 77%;
  grid-row-gap: 2px;
  grid-column-gap: 7px;
  margin-left: 6px;
}

p.align-right {
  width: 100%;
  text-align-last: justify;
  /*以下声明暂时未被Chrome支持，但不会有影响*/
  text-justify: inter-character;
}

.home-box {
  position: relative;
  display: flex;
  flex-direction: row;
}

.home-box .home-background {
  border-radius: 14px;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}

.home-box .lock-icon {
  height: 30px;
  filter: drop-shadow(0 0 4px #333333a1);
}

.locked,
.unlock {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.unlock-content-block,
.locked-content-block {
  display: grid;
  grid-row-gap: 1px;
  justify-items: center;
  width: 100%;
  padding: 10px 0;
  text-shadow: 0 0 4px #33333378;
  background: #3333338c;
}

.comfort-levelname {
  color: rgb(242, 210, 134);
  font-size: 13px;
}

.comfort-level,
.comfort-num {
  font-size: 11px;
  font-weight: 300;
}

.quoteBox {
  display: flex;
  align-items: flex-end;
  width: 397px;
  margin-bottom: 10px;
  flex-grow: 1;
  z-index: 999;
}

.quoteImage {
  height: 50px;
  width: 50px;
}

.quoteText {
  opacity: 0.7;
  margin-left: 6px;
}

.container-traveler-signature {
  display: grid;
  grid-template-columns: auto max-content;
  justify-items: end;
  align-items: end;
  align-self: flex-end;
  margin-right: 14px;
}

.signature-header {
  font-size: 14px;
}

.signature-body {
  transform: rotate(359deg);
  margin-bottom: 2px;
  font-family: "YunXiJinShu", "azuki", "GenshinUsedFont", monospace;
  text-align: center;
}

.signature-underline {
  border-bottom: solid 1px #656b79;
  min-width: 132px;
}

.credit {
  align-self: flex-end;
  text-align: end;
  margin-right: 14px;
  margin-bottom: 12px;
  font-size: 12.85px;
  opacity: 0.85;
}
