* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

html {
  background-color: #efeae3;
}

body {
  width: 960px;
  font-family: GenshinUsedFont, monospace;
  background: no-repeat url("http://localhost:9934/resources/Version2/module/user-base.png");
}

@font-face {
  font-family: GenshinUsedFont;
  src: url("../../../../data/font/HYWenHei-85W.ttf");
}
.user-base-page {
  position: absolute;
  left: 0;
  top: 0;
}

.user-base-page .top {
  position: relative;
  height: 208px;
  width: 100%;
}

.user-base-page > .background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10000;
}

.user-base-page .left {
  position: absolute;
  left: 28px;
  top: 8px;
  width: 424px;
  height: 568px;
  z-index: 1;
}

.left .uid {
  position: absolute;
  color: #ffffff;
  font-size: 16px;
  top: 18px;
  z-index: 100;
  width: 100%;
  text-align: center;
}

.left .name-card {
  position: absolute;
  width: 424px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 4px 0 0;
}

.left .profile {
  position: absolute;
  margin: 66px 141px 0;
  width: 142px;
  height: 142px;
  background-color: #f0ebe1;
  border-radius: 50%;
  border: 2px solid #d5bf94;
  box-sizing: border-box;
  padding: 6px;
  box-shadow: 0 2px 12px #00000014;
}

.left .profile .character {
  position: relative;
  background-color: hsl(25deg 49% 65%);
  width: 126px;
  border-radius: 50%;
}

.left .middle {
  position: relative;
  padding: 6px 0;
  width: 384px;
  margin: 3.6% 1.09375rem 0;
  border: 0.15625rem solid #e0d7c9;
  border-radius: 6px;
}

.middle ._left,
.middle ._right {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 43%;
  height: 100%;
  font-size: 16px;
  line-height: 21px;
  margin-left: 7%;
  color: #4a5263;
}

.middle .data-name {
  display: inline-block;
  width: 45%;
  margin-right: 8%;
}

.middle .data-value {
  display: inline-block;
  width: 47%;
}

.bottom-split {
  margin-top: 4.2%;
}

.bottom-split .split-line {
  width: 88% !important;
  margin: 0 6% !important;
}

.bottom-split .title .icon {
  margin-left: 6.5%;
}

.left .bottom {
  position: relative;
  width: 384px;
  margin: 0 20px;
}

.user-base-page .right {
  position: absolute;
  top: 12px;
  left: 500px;
  height: 562px;
  width: 444px;
  z-index: 1;
}

.right .world {
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 5%;
}

.right .character {
  position: relative;
  width: 100%;
  top: 3.5%;
}

.author {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 4px;
  margin-right: 3px;
  font-size: 13px;
  color: #4a5263d6;
}

.container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.character-box {
  position: relative;
  display: grid;
  grid-template-rows: 88px 1fr;
  align-items: center;
  height: 120px;
  width: 88px;
  background-color: rgb(233, 229, 220);
  border-radius: 6px;
  box-shadow: 0 2px 4px #00000014;
}

.element {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  z-index: 101;
}

.background {
  width: 88px;
  height: 88px;
  border-radius: 6px 6px 12px 0;
}

.main {
  position: absolute;
  top: 0;
  width: 88px;
  border-radius: 6px 6px 12px 0;
}

.char-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  font-size: 10px;
}

.char-info .level {
  color: rgb(0, 176, 80);
  margin-right: 4px;
}

.char-info .fetter {
  color: rgb(231, 13, 177);
}

.char-info .weapon-name {
  color: rgb(0, 176, 80);
}

.char-info .weapon-affix {
  color: rgb(231, 13, 177);
}

.exploration {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin-left: 16px;
  margin-top: 4px;
}

.exploration .exp-bg {
  position: relative;
  width: 198px;
  height: 66px;
}

.exploration .exp-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 198px;
  height: 66px;
}

.exp-area .logo {
  --height: 74px;
  display: inline-block;
  vertical-align: middle;
  height: var(--height);
  margin-left: 12px;
  margin-top: calc((66px - (var(--height))) / 2);
  margin-right: 5px;
  filter: brightness(0.9) contrast(1.1);
}

.exp-area .prop {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  padding: 3px 0;
  margin-top: -4px;
  color: #495366;
}

.two .exp-area .prop {
  height: 50px;
  padding: 8px 0;
  margin-top: -4px;
}

.prop-name,
.prop-value {
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.prop-name .item,
.prop-value .item {
  display: table;
  flex: 1;
}

.prop-name .item {
  margin-right: 12px;
  font-size: 13px;
}

.prop-value .item {
  font-size: 12px;
}

.item > span {
  display: table-cell;
  vertical-align: middle;
}
.home-box {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  width: 90px;
  height: 90px;
  margin: 8px 0.1875rem;
}

.home-box .home-background {
  position: absolute;
  width: inherit;
  border-radius: 14px;
}

.home-box .unlock,
.home-box .locked {
  position: absolute;
  top: 0;
}

.home-box .box-block {
  width: 90px;
  height: 90px;
  border-radius: 14px;
}

.home-box .locked-block {
  background-color: rgba(0, 0, 0, 0.6);
}

.home-box .lock-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 44%;
  margin: 20px 28%;
}

.home-box .unlock-block {
  background-color: rgba(0, 0, 0, 0.22);
}

.home-box .unlock-content-block {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 60%;
  margin: 20% 0;
  border-radius: 0;
}

.home-box .box-content {
  position: relative;
  width: 90px;
  text-align: center;
}

.home-box .name {
  position: relative;
  color: rgb(242, 210, 134);
  font-size: 13px;
  height: 17px;
  line-height: 17px;
  margin-top: 11px;
}

.home-box .level {
  display: none;
  height: 0;
}

.home-box .comfort {
  font-size: 11px;
  height: 15px;
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.homeworld-level {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section-title {
  position: relative;
  width: 100%;
  z-index: 100;
}

.section-title .title {
  width: 100%;
}

.section-title .icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 1px;
  margin: 0 2% 0 3%;
  vertical-align: middle;
}

.section-title .content {
  display: inline-block;
  font-size: 19px;
  height: 32px;
  line-height: 33px;
  color: #84603d;
  vertical-align: middle;
}

.section-title .split-line {
  position: relative;
  width: 94%;
  margin: 0 3%;
}
