* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: GenshinUsedFont;
  font-display: block;
  src: url("../../../../data/font/HYWenHei-85W.ttf");
}

@font-face {
  font-family: YunXiJinShu;
  font-display: block;
  src: url("../../../../data/font/YunXiJinShu.ttf");
}

@font-face {
  font-family: azuki;
  font-display: fallback;
  src: url("../../../../data/font/azuki.ttf");
}

html {
  background-color: #efeae3;
}

body {
  width: 960px;
  font-family: GenshinUsedFont, monospace;
  background: no-repeat url("http://localhost:9934/resources/Version2/module/user-base.png");
  background-size: 100% 100%;
}

#app,
body {
  min-height: 582px;
}

.user-base-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 582px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  margin-top: 8px;
}

.right {
  justify-content: space-between;
  padding-top: 5%;
}

.user-base-page .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 175px;
}

.container-player-info {
  color: #fff;
  font-size: 12px;
  text-shadow: 0 0 4px #333333ab;
  background: #33333354;
  border: solid 2px #f0ebe39c;
  padding: 4px 15px 2px 15px;
  border-radius: 50px;
  margin-top: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
  min-height: 25px;
}

.player-info {
  display: grid;
  grid-template-columns: max-content auto;
  grid-row-gap: 1px;
  justify-items: stretch;
}

.uid {
  grid-column: 1 / -1;
}

.top {
  width: 424px;
  border-radius: 10px 4px 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile {
  display: flex;
  margin-top: 8px;
  border-radius: 50%;
  padding: 14px;
  background: radial-gradient(
    circle,
    rgba(239, 234, 227, 0.93) 60%,
    rgba(239, 234, 227, 0.1) 60.5%,
    rgba(239, 234, 227, 0.1) 65.5%,
    rgba(239, 234, 227, 0) 66%,
    rgba(239, 234, 227, 0) 68%,
    rgba(239, 234, 227, 0.05) 68.5%,
    rgba(239, 234, 227, 0.05) 68.8%
  );
}

.character {
  position: relative;
  background-color: hsl(25deg 49% 65%);
  width: 100px;
  border-radius: 50%;
}

.container-middle {
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 2px solid #e0d7c9;
  box-sizing: border-box;
  border-radius: 6px;
  color: #4a5263;
  padding: 8px 0;
  min-height: 145px;
}

.middle {
  display: grid;
  grid-template-columns: auto 100px auto max-content;
  row-gap: 1px;
  min-width: 300px;
  min-height: 125px;
}

.bottom-split {
  margin-top: 20px;
}

.bottom-split .title .icon {
  margin-left: 28px;
}

.left .bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
  width: 384px;
  margin-top: 10px;
}

.right .character {
  position: relative;
  width: 100%;
  top: 3.5%;
}

.author {
  width: 100%;
  text-align: end;
  margin-right: 25px;
  margin-bottom: 12px;
  font-size: 13px;
  color: #4a5263d6;
}

.container-character {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 10px;
}

.container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  min-height: 250px;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  min-width: 250px;
}

.character-box {
  position: relative;
  display: grid;
  grid-template-rows: 88px 1fr;
  align-items: center;
  height: 120px;
  width: 88px;
  background-color: rgb(233, 229, 220);
  border-radius: 6px;
  box-shadow: 0 2px 4px #00000014;
}

.element {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2px;
  top: 2px;
  z-index: 101;
}

.char-container {
  border-radius: 6px 6px 12px 0;
  display: flex;
}

.main {
  width: 88px;
  border-radius: 6px 6px 12px 0;
}

.char-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  font-size: 10px;
}

.constellation {
  position: absolute;
  background: #33333391;
  color: #f0ebe3;
  right: 0;
  font-size: 13px;
  width: 15px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 6px;
  backdrop-filter: blur(4px);
}

.max-constellation {
  color: hsl(45deg 100% 64%);
  text-shadow: 0 0 4px hsl(45deg 100% 20%);
}

.char-info .level {
  color: rgb(0, 176, 80);
  margin-right: 4px;
}

.char-info .fetter {
  color: rgb(231, 13, 177);
}

.char-info .weapon-name {
  color: rgb(0, 176, 80);
}

.char-info .weapon-affix {
  color: rgb(231, 13, 177);
}

.container-exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explorations {
  color: #495366;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.exploration {
  width: 202px;
  height: 66px;
  background: no-repeat url("http://localhost:9934/resources/Version2/module/user-nase-exp-bg.png");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: 100% 100%;
}

.logo {
  width: 64px;
  filter: brightness(0.9) contrast(1.1);
}

.logo.self-managed {
  height: 64px;
  background: linear-gradient(rgba(238, 239, 169, 1) 0%, hsl(42deg 58% 76%) 45%, rgba(177, 152, 112, 1) 80%);
}

.exp-area {
  display: grid;
  grid-template-columns: max-content auto;
  height: 100%;
  width: 90%;
  align-items: center;
  margin-left: 6px;
}

.container-detailedExploration {
  display: grid;
  grid-template-columns: minmax(56px, max-content) max-content;
  font-size: 14px;
  width: 77%;
  grid-row-gap: 2px;
  grid-column-gap: 7px;
  margin-left: 6px;
}

p.align-right {
  width: 100%;
  text-align-last: justify;
  /*以下声明暂时未被Chrome支持，但不会有影响*/
  text-justify: distribute !important;
}

.home-box {
  position: relative;
  display: flex;
  flex-direction: row;
}

.home-box .home-background {
  border-radius: 14px;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}

.home-box .lock-icon {
  height: 30px;
  filter: drop-shadow(0 0 4px #333333a1);
}

.locked,
.unlock {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.unlock-content-block,
.locked-content-block {
  display: grid;
  grid-row-gap: 1px;
  justify-items: center;
  width: 100%;
  padding: 10px 0;
  text-shadow: 0 0 4px #33333378;
  background: #3333338c;
}

.home-box .name {
  color: rgb(242, 210, 134);
  font-size: 13px;
}

.home-box .comfort {
  font-size: 11px;
  font-weight: 300;
}

.section-title {
  width: 480px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #84603d;
  width: 432px;
}

.section-title .icon {
  width: 30px;
  height: 30px;
}

.split-line {
  height: 12px;
  margin: 0 3%;
}

.bottom-split .split-line {
  width: 384px;
  height: 12px;
}

.container-traveler-signature {
  display: grid;
  grid-template-columns: auto max-content;
  justify-items: end;
  align-items: end;
  align-self: flex-end;
  margin-right: 14px;
}

.signature-header {
  color: #656b79;
  font-size: 14px;
}

.signature-body {
  transform: rotate(359deg);
  margin-bottom: 2px;
  font-family: "YunXiJinShu", "azuki", "GenshinUsedFont", monospace;
  text-align: center;
}

.signature-underline {
  border-bottom: solid 1px #656b79;
  min-width: 132px;
}
