@font-face {
  src: url("../../../../data/font/HYWenHei-85W.ttf");
  font-family: GenshinUsedFont;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-text-stroke: 0.018em currentColor;
  width: 746px;
  height: 769px;
  color: white;
  font-family: GenshinUsedFont, monospace;
}

body {
  background: url("../../../../resources/etc/image/artifact.png") no-repeat center;
}

.absolute-position {
  position: absolute;
  left: 43px;
}

.title {
  top: 18px;
  font-size: 45px;
}

.position {
  top: 100px;
  font-size: 28px;
}

.artifact-image {
  top: 260px;
  left: 571px;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
}

.container-main-stats {
  top: 272px;
}

.main-stat {
  color: #bfafa9;
  font-size: 28px;
}

.main-value {
  font-size: 55px;
}

.rarity {
  top: 366px;
  left: 34px;
  height: 52px;
}

.level {
  top: 478px;
  width: 84px;
  font-size: 31px;
  text-align: center;
}

.container-sub-properties {
  top: 540px;
  left: 64px;
  color: #495366;
  font-size: 30px;
  line-height: 50px;
}
