/*字体：思源黑体，Genshin Abyss*/

@font-face {
  /* 用来显示渊星的自创字体，符号是星号"*" */
  font-family: "Genshin Abyss";
  font-display: swap;
  src: url("../../../../data/font/Genshin-Abyss.ttf");
}

@font-face {
  font-family: "Source Han Sans CN";
  font-display: swap;
  src: url("../../../../data/font/SourceHanSansSC-Regular.otf");
}

@font-face {
  font-family: "Source Han Serif SC Regular Subset";
  font-display: swap;
  src: url("../../../../data/font/SourceHanSerifSC-Regular-Subset.otf");
}

@font-face {
  font-family: "Khaenriah";
  font-display: swap;
  src: url("../../../../data/font/Khaenriah.otf");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 428px;
  background: #faf2e7;
  letter-spacing: 0.05em;
  font-family: "Source Han Sans CN", sans-serif;
  color: #d9c291;
  -webkit-text-stroke: 0.018em currentColor;
  margin: 0;
  padding: 0;
}

.container-vertical,
.card {
  display: grid;
  width: 100%;
  place-items: center;
}

.container-vertical {
  height: 100%;
}

.container-abyss {
  padding: 10px;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  grid-gap: 10px;
  grid-template-areas:
    "player-namecard"
    "data-digest";
}

.card {
  background: linear-gradient(135deg, #141a2a, #393d46);
  border-radius: 10px;
  z-index: 1;
}

.container-namecard {
  display: flex;
  flex-direction: column;
  width: 408px;
  height: 253px;
  justify-content: flex-end;
}

.container-namecard:before,
.container-namecard:after {
  content: "";
  position: absolute;
  width: 408px;
  height: 253px;
  border-radius: 10px;
}

.container-namecard:before {
  background: url("../../../../resources/Version2/backgrounds/strip-4px.svg");
  opacity: 0.33;
  z-index: 1;
}

.container-namecard:after {
  background: url("../../../../resources/Version2/frames/rounded-inner-with-stars.svg") no-repeat center;
  background-size: 96%;
  z-index: 2;
}

.user-avatar {
  width: 128px;
  height: 128px;
  background-color: #d19e7a;
  z-index: 3;
  border-radius: 50%;
  border: 5px solid #efeae3;
  margin-bottom: 6px;
}

.uid {
  margin-right: 4px;
}

.title,
.time {
  z-index: 3;
}

.uid-title {
  font-size: 20px;
}

.time {
  margin-bottom: 16px;
  font-size: 12px;
}

.container-vertical.briefings {
  grid-template-rows: max-content 90px;
}

.container-briefing {
  padding-top: 10px;
}

.deco-strip {
  margin: 0 4px;
}

.briefing {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "title-battletimes title-maxfloor title-totalstar"
    "data-battletimes data-maxfloor data-totalstar";
  justify-items: center;
}

.briefing-title {
  font-size: 12px;
}

.briefing-data {
  font-size: 36px;
}

.briefing-title.battle-times {
  grid-area: title-battletimes;
}

.briefing-title.max-floor {
  grid-area: title-maxfloor;
}

.briefing-title.total-star {
  grid-area: title-totalstar;
}

.abyss-star,
.chamber-stars {
  font-family: "Genshin Abyss", sans-serif;
  color: #ede7d9;
  transform: translateY(-0.03em);
}

.abyss-star {
  position: relative;
  bottom: 4px;
  text-shadow: 0 0 10px hsla(41, 37%, 89%, 0.43);
  font-size: 34px;
}

.chamber-stars {
  position: relative;
  text-shadow: 0 0 6px hsla(41, 37%, 89%, 0.15);
  font-size: 20px;
}

.chamber-stars.inline {
  position: relative;
  transform: translateY(-0.22em);
  font-size: 17px;
}

.container-vertical.reveal-rank {
  grid-template-rows: max-content 140px;
}

.banner-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  background: #ffffff2b;
  width: 100%;
}

.banner-title:before {
  content: "THE WORLD OPENS ITSELF BEFORE THOSE WITH NOBLE HEARTS THE WORLD OPENS ITSELF BEFORE THOSE WITH NOBLE HEARTS THE WORLD OPENS ITSELF BEFORE THOSE WITH NOBLE HEARTS THE WORLD OPENS ITSELF BEFORE THOSE WITH NOBLE HEARTS";
  position: absolute;
  font-family: "Khaenriah", serif;
  font-size: 10px;
  font-weight: 100;
  opacity: 0.3;
  z-index: -1;
  width: 408px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-stroke: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-title > p {
  text-shadow: 0 3px 6px rgb(0 0 0 / 25%);
  transform: translateY(-0.06em);
}

.container-reveal-rank {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  width: 100%;
  justify-items: center;
  justify-content: space-evenly;
}

.container-character,
.container-character-rounded {
  display: grid;
  place-items: center;
}

.container-character {
  border-radius: 10px;
  background: hsl(43, 23%, 88%);
}

.container-character.reveal-rank {
  width: 80px;
}

.avatar-face {
  width: 100%;
  border-radius: 10px 10px 10px 0;
  align-self: start;
}

.star-five {
  background: url("../../../../resources/Version2/thumb/stars/5-Star.png") no-repeat center;
  background-size: cover;
}

.star-four {
  background: url("../../../../resources/Version2/thumb/stars/4-Star.png") no-repeat center;
  background-size: cover;
}

.showbox-label {
  color: #000;
  transform: translateY(-0.06em);
}

.container-vertical.battle-rank {
  grid-template-rows: max-content 280px;
}

.container-overview {
  display: grid;
  grid-template-areas:
    "defeat-rank defeat-rank damage-rank damage-rank take-damage-rank take-damage-rank"
    ". burst-rank burst-rank skill-rank skill-rank .";
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  justify-items: center;
  justify-content: space-evenly;
  grid-row-gap: 10px;
}

.avatar-rounded {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.avatar-value {
  font-size: 24px;
}

.sub-title {
  font-size: 12px;
  padding: 4px 0;
}

.defeat-rank {
  grid-area: defeat-rank;
}

.damage-rank {
  grid-area: damage-rank;
}

.take-damage-rank {
  grid-area: take-damage-rank;
}

.burst-rank {
  grid-area: burst-rank;
}

.skill-rank {
  grid-area: skill-rank;
}

.missing-data-placeholder {
  font-size: 20px;
  text-align: center;
}

.container-floor-info {
  padding-top: 10px;
  box-sizing: border-box;
}

.container-abyss-floors {
  grid-row-gap: 10px;
}

.container-chamber-info {
  grid-template-rows: max-content minmax(180px, max-content);
}

.title-content {
  display: grid;
  width: 365px;
  grid-template-areas: "arrow-left main-title arrow-right";
  grid-template-columns: 1fr min-content 1fr;
  place-items: center;
  grid-column-gap: 5px;
}

.arrow-left {
  grid-area: arrow-left;
  justify-self: end;
}

.arrow-right {
  grid-area: arrow-right;
  transform: scaleX(-1);
  justify-self: start;
}

.abyss-chamber-type-title {
  font-size: 24px;
  text-align: center;
  white-space: nowrap;
  color: #484848;
}

.abyss-chamber-title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.abyss-chamber-title:before {
  opacity: 0.1;
}

.chamber-indicator {
  justify-self: start;
  font-size: 20px;
  transform: translateY(-0.05em);
}

.chamber-indicator > span {
  position: relative;
  bottom: 0.1em;
}

.chamber-time {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-self: end;
}

.kerning {
  margin-left: 0.06em;
  margin-right: 0.06em;
  /*处理冒号不垂直居中的问题*/
  position: relative;
  top: -0.1em;
}

.chamber-details {
  width: 100%;
  height: 100%;
}

.chamber-details.valid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "firsthalf"
    "secondhalf";
  grid-row-gap: 15px;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  justify-items: start;
}

.chamber-details.unfulfilled {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  place-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.first-half,
.second-half {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}

.chamber-details.invalid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-character.chamber-character {
  width: 80px;
}

.container-briefing-floor-title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 0 10px;
  width: 100%;
  background: #ffffff2b;
  box-sizing: border-box;
  font-size: 20px;
}

.briefing-floor-duration {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-self: end;
}

.brief-start-time,
.brief-end-time {
  white-space: nowrap;
  font-size: 10px;
}

.date:after {
  content: " ";
}

.briefing-floor-indicator {
  justify-self: start;
}

.briefing-floor-stars {
  display: flex;
  align-items: flex-end;
}

.container-revealed-briefing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  max-width: 396px;
}

img.avatar-rounded-briefing {
  width: 40px;
  height: 40px;
  margin: 0 4.75px;
  border-radius: 50%;
}

.credit {
  font-size: 12px;
  font-family: "Source Han Serif SC Regular Subset", serif;
}

.credit.partial {
  text-align: end;
  width: 100%;
  padding: 0 10px 5px 0;
}
