@font-face {
  font-family: "Source Han Serif SC Heavy";
  font-display: swap;
  src: url("../../../../data/font/SourceHanSerifSC-Heavy.otf");
}

@font-face {
  font-family: "Source Han Sans SC";
  font-display: swap;
  src: url("../../../../data/font/SourceHanSans-Regular.otf");
}

@font-face {
  font-family: "Source Han Serif SC Regular Subset";
  font-display: swap;
  src: url("../../../../data/font/SourceHanSerifSC-Regular-Subset.otf");
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 720px;
  overflow-x: hidden;
  -webkit-text-stroke: 0.018em;
  letter-spacing: 0.01em;
  font-family: "Source Han Serif SC Heavy", serif;
}

.background {
  width: 720px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.svg {
  position: absolute;
  width: 1000px;
  transform: translate(0, -180px);
  opacity: 0.33;
  filter: brightness(0.95);
}

.anemo {
  background: linear-gradient(#a5d6c7, #629988);
}

.cryo {
  background: linear-gradient(#a3d2e6, #5c8e9c);
}

.dendro {
  background: linear-gradient(#b5cfa3, #7a855b);
}

.electro {
  background: linear-gradient(#cfb0d6, #5b6282);
}

.geo {
  background: linear-gradient(#e8d29b, #93666d);
}

.hydro {
  background: linear-gradient(#7eb6de, #5f6999);
}

.pyro {
  background: linear-gradient(#f2d09d, #a3615a);
}

.container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-character-infos {
  display: grid;
  align-items: center;
  z-index: 2;
  margin-top: 68px;
  justify-items: center;
  grid-row-gap: 30px;
  min-width: 480px;
}

/* noinspection DuplicatedCode */
.container-deco-strip {
  position: absolute;
  top: 30px;
  font-family: "Source Han Serif SC Regular Subset", serif;
  color: hsl(42deg 27% 18%);
  opacity: 0.11;
  white-space: nowrap;
  width: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: -0.02em;
}

.info-title,
.page-title {
  letter-spacing: 0.05em;
  color: #715257;
  font-size: 44px;
  text-shadow: 0 3px 6px rgb(0 0 0 / 25%);
  width: 100%;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title > span {
  letter-spacing: 0.05em;
  margin-right: 8px;
}

.profile-image {
  width: 300px;
  height: 300px;
  background: #d19e7a;
  border-radius: 50%;
}

.character-level-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  backdrop-filter: blur(4px) brightness(0.95);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
}

.container-bar {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.bar-title,
.bar-details {
  color: #ede8e1;
  text-shadow: 0 3px 6px rgb(0 0 0 / 25%);
  letter-spacing: 0.05em;
  font-size: 24px;
}

.bar-full {
  height: 10px;
  background-color: #00000038;
  border-radius: 5px;
  width: 300px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.dot-show {
  height: 4px;
  width: 4px;
  background-color: #ede8e1;
  border-radius: 50%;
  box-shadow: 0 0 3px rgb(0 0 0 / 39%);
}

.dot-hide {
  height: 0;
  width: 4px;
}

.bar-progress {
  position: absolute;
  height: 10px;
  border-radius: 5px;
}

.bar-progress.normal {
  background-color: #ede8e1;
}

.bar-progress.max {
  /* background: hsl(25deg 69% 75%); */
  /* 备用 */
  background: hsl(41deg 98% 49%);
}

.bar-details {
  display: flex;
  justify-content: space-between;
}

.split-title {
  color: #715257;
  text-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  font-size: 40px;
  margin-bottom: 20px;
}

.artifact-table,
.weapon-table {
  display: grid;
  grid-template-columns: 91px auto;
  width: 465px;
  filter: drop-shadow(0 3px 6px rgb(0 0 0 / 25%));
  grid-row-gap: 10px;
  align-items: stretch;
  grid-template-rows: minmax(70px, 1fr);
}

.artifact-content {
  display: grid;
  grid-template-columns: max-content auto;
}

.artifact-icon {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.rarity-five {
  background: url("../../../../resources/Version2/thumb/stars/5-Star.png") no-repeat center;
  background-size: cover;
}

.rarity-four {
  background: url("../../../../resources/Version2/thumb/stars/4-Star.png") no-repeat center;
  background-size: cover;
}

.rarity-three,
.rarity-two,
.rarity-one {
  background: url("../../../../resources/Version2/thumb/stars/3-Star.png") no-repeat center;
  background-size: cover;
}

.artifact-details {
  display: grid;
  grid-template-areas:
    "name level"
    "rarity rarity";
  font-size: 20px;
  grid-column-gap: 6px;
  align-items: end;
  grid-row-gap: 2px;
}

.artifact-name {
  grid-area: name;
}

.artifact-level,
.weapon-affix {
  position: relative;
  font-size: 14px;
  color: #7d796d;
  text-shadow: none;
  background: #ede8e1;
  border-radius: 4px;
  padding: 0 3px;
  bottom: 2px;
  height: 16px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.artifact-level {
  grid-area: level;
}

.artifact-rarity {
  grid-area: rarity;
}

.box-title,
.info-content {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 0 6px;
  text-shadow: 0 3px 6px rgb(0 0 0 / 25%);
}

.box-title {
  background: #ede8e1;
  color: #7d796d;
  min-width: 79px;
  justify-content: center;
}

.info-content {
  background: rgba(237, 232, 225, 0.11);
  color: #ede8e1;
  word-break: break-all;
  text-align: justify;
  padding: 12px 16px;
}

.artifact-content {
  display: grid;
  justify-items: start;
  grid-column-gap: 12px;
}

.container-weapon-info {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 12px;
  justify-items: start;
}

.weapon-level-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 8px;
  backdrop-filter: blur(4px) brightness(0.95);
  box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
}

.weapon-icon {
  width: 56px;
  height: 56px;
  border-radius: 8px;
}

.weapon-details {
  display: grid;
  grid-template-areas:
    "name affix"
    "rarity rarity"
    "description description";
  font-size: 20px;
  grid-column-gap: 6px;
  align-items: end;
  grid-template-columns: min-content auto;
}
.weapon-name {
  white-space: nowrap;
}

.weapon-rarity,
.weapon-desc {
  font-size: 16px;
}

.weapon-rarity {
  grid-area: rarity;
}

.weapon-affix {
  grid-area: affix;
}

.weapon-affix.max {
  background: #141a2a;
  color: hsl(25deg 69% 75%);
  text-shadow: 0 0 6px hsl(25deg 59% 35%);
}

.affix-value {
  margin-left: 2px;
}

.weapon-desc {
  grid-area: description;
  border-top: 1px solid #ede8e1;
  margin-top: 4px;
}

.credit {
  color: #ede8e1;
  text-shadow: 0 3px 6px rgb(0 0 0 / 25%);
  letter-spacing: 0.05em;
  align-self: end;
  margin: 20px 10px 10px 0;
}
