<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <title>genshin-artifact</title>
    <script src="../../data/js/vue2.min.js"></script>
    <link rel="stylesheet" href="./component/artifact/artifact.css" />
    <link rel="icon" href="data:," />
  </head>
  <body>
    <div id="app">
      <div>
        <img class="background" src="http://localhost:9934/resources/module/artifact.png" alt="ERROR" />
        <div class="content">
          <p class="name">{{base.name}}</p>
          <p class="slot">{{Slot}}</p>
          <div class="main">
            <p class="property">{{statName}}</p>
            <p class="data">{{statData}}</p>
          </div>
          <img class="rarity" src="http://localhost:9934/resources/item/rarity.png" alt="ERROR" />
          <img class="image" :src="artifactImage" alt="ERROR" />
          <p class="level">+{{base.level}}</p>
          <div class="sub-properties">
            <ul class="list" v-for="v in data">
              <li class="element">{{v.name}}+{{v.data}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import { getParams } from "./component/common/param.js";
      new Vue({
        el: "#app",
        data: {
          base: {},
          data: [],
          mainStat: "",
        },
        computed: {
          Slot() {
            let slotName = ["生之花", "死之羽", "时之沙", "空之杯", "理之冠"];
            return slotName[this.base.slot];
          },
          statName() {
            const propertyName = [
              "生命值",
              "生命值",
              "防御力",
              "防御力",
              "元素充能效率",
              "元素精通",
              "攻击力",
              "攻击力",
              "暴击伤害",
              "暴击率",
              "物理伤害加成",
              "风元素伤害加成",
              "冰元素伤害加成",
              "雷元素伤害加成",
              "岩元素伤害加成",
              "水元素伤害加成",
              "火元素伤害加成",
              "治疗加成",
            ];
            return propertyName[this.mainStat];
          },
          statData() {
            if (0 === this.mainStat) {
              return 0 === this.base.level ? 717 : 4780;
            } else if (6 === this.mainStat) {
              return 0 === this.base.level ? 47 : 311;
            } else if (5 === this.mainStat) {
              return 0 === this.base.level ? 28 : 187;
            } else if (4 === this.mainStat) {
              return 0 === this.base.level ? "8.7%" : "51.8%";
            } else if (8 === this.mainStat) {
              return 0 === this.base.level ? "9.4%" : "62.2%";
            } else if (9 === this.mainStat) {
              return 0 === this.base.level ? "4.7%" : "31.1%";
            } else if (17 === this.mainStat) {
              return 0 === this.base.level ? "5.4%" : "35.9%";
            } else if (3 === this.mainStat || 10 === this.mainStat) {
              return 0 === this.base.level ? "8.7%" : "58.3%";
            } else {
              return 0 === this.base.level ? "7.0%" : "46.6%";
            }
          },
          artifactImage() {
            return (
              "http://localhost:9934/resources/Version2/artifact/" +
              this.base.artifactID +
              "/" +
              this.base.slot +
              ".png"
            );
          },
        },
        mounted() {
          const params = getParams(window.location.href);

          this.base = params.base;
          this.data = params.data;
          this.mainStat = params.mainStat;
        },
      });
    </script>
  </body>
</html>
