<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <title>character-vue3</title>
    <script src="../../data/js/vue3.global.prod.js"></script>
    <link rel="preload" crossorigin="anonymous" as="script" href="component/common/param.js" />
    <link rel="preload" crossorigin="anonymous" as="script" href="component/common/html.js" />
    <link rel="preload" crossorigin="anonymous" as="script" href="component/character/app.js" />
    <link rel="stylesheet" href="./component/character/character.css" />
    <link rel="icon" href="data:," />
  </head>
  <body>
    <div id="app"></div>
    <script type="module">
      import App from "./component/character/app.js";
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
