<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <title>genshin-gacha-infinity</title>
    <script src="../../data/js/vue3.global.prod.js"></script>
    <link rel="preload" href="../../data/font/HYWenHei-85W.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" as="script" href="component/common/utils.js" crossorigin />
    <link rel="preload" as="script" href="component/gacha/app.js" crossorigin />
    <link rel="preload" as="script" href="component/gacha/gacha-box.js" crossorigin />
    <link rel="preload" as="script" href="component/gacha/epitomeIndicator.js" crossorigin />
    <link rel="stylesheet" href="component/gacha/gacha.css" />
    <link rel="icon" href="data:," />
  </head>
  <body>
    <div id="particles-js"></div>
    <div id="app"></div>

    <script type="module">
      import App from "./component/gacha/app.js";

      Vue.createApp(App).mount("#app");
    </script>
    <!--particles.min.js-->
    <script src="../../data/js/particles.min.js"></script>
  </body>
</html>
