<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <title>genshin-overview</title>
    <script src="../../data/js/vue2.js"></script>
    <link rel="stylesheet" href="./component/overview/overview.css" />
  </head>

  <body>
    <div id="app">
      <div class="info-base">
        <img class="background" :src="infoBackground" alt="ERROR" />
        <img :class="'角色' === type ? 'character' : 'weapon'" :src="mainImage" alt="ERROR" />
        <div class="content">
          <p class="title-and-name" v-if="name == '旅行者'">「旅行者」</p>
          <p class="title-and-name" v-else>「{{ title }}·{{ name }}」</p>
        </div>
        <div class="introduction">
          <p class="introduce">{{ introduce }}</p>
        </div>
        <div class="dotted"></div>
      </div>
      <div class="weapon" v-if="'武器' === type">
        <div class="access">
          <p class="title">获取方式:</p>
          <p class="content">{{ access }}</p>
        </div>
        <div class="data-block">
          <img class="star-icon" :src="starIcon" alt="ERROR" />
          <p class="value atk">{{ baseATK }}</p>
          <p class="title atk">基础攻击力</p>
          <p class="value main">{{ mainValue }}</p>
          <p class="title main">{{ mainStat }}</p>
        </div>
        <div class="materials">
          <table class="weapon-table">
            <tbody>
              <tr>
                <td class="title-weapon-ascension"><span>突破材料</span></td>
                <td class="image-weapon-ascension">
                  <div class="item-list">
                    <div class="list-weapon">
                      <img class="item" v-for="el in ascension[0]" :src="icon(el)" :alt="el" />
                    </div>
                  </div>
                  <div class="item-list">
                    <p class="title"></p>
                    <div class="list-weapon">
                      <img class="item" v-for="el in ascension[1]" :src="icon(el)" :alt="el" />
                    </div>
                  </div>
                </td>
                <td class="time-weapon-ascension"><p>{{ time }}</p></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="skill">
          <p class="name">{{ skillName }}</p>
          <div class="content" v-html="skillContent"></div>
        </div>
      </div>
      <div class="character" v-else>
        <div class="base-info">
          <div class="birthday">
            <p class="title">生日:</p>
            <p class="content">{{ birthday }}</p>
          </div>
          <div class="element">
            <p class="title">神之眼:</p>
            <p class="content">{{ element }}</p>
          </div>
          <div class="cv">
            <p class="title">声优:</p>
            <p class="content">{{ cv }}</p>
          </div>
          <div class="constellation-name">
            <p class="title">命之座:</p>
            <p class="content">{{ constellationName }}</p>
          </div>
        </div>
        <div class="data-block">
          <img class="star-icon" :src="starIcon" alt="ERROR" />
          <p class="value atk">{{ baseATK }}</p>
          <p class="title atk">基础攻击力</p>
          <p class="value main">{{ mainValue }}</p>
          <p class="title main">{{ mainStat }}</p>
        </div>
        <div class="materials">
          <table class="character-table">
            <tr>
              <td class="material-character-levelup">
                <p class="title">升级材料</p>
              </td>
              <td>
                <div class="item-list">
                  <div class="list">
                    <img class="item" v-for="el in levelUp" :src="icon(el)" :alt="el" />
                  </div>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="material-character-talent">
                <p class="title">天赋材料</p>
              </td>
              <td>
                <div class="item-list">
                  <div class="list">
                    <img class="item" v-for="el in talent" :src="icon(el)" :alt="el" />
                  </div>
                </div>
              </td>
              <td style="text-align: right"><p>{{ time }}</p></td>
            </tr>
            <tr>
              <td class="material-character-ascension">
                <p class="title">突破材料</p>
              </td>
              <td>
                <div class="item-list">
                  <div class="list">
                    <img class="item" v-for="el in ascension" :src="icon(el)" :alt="el" />
                  </div>
                </div>
              </td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="constellation">
          <div class="box" v-for="i in 4">
            <p class="level">{{ numCN[i - 1] }}</p>
            <p class="content">{{ constellations[i - 1] }}</p>
          </div>
        </div>
      </div>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          rarity: 0,
          name: "",
          id: 0,
          title: "",
          type: "",
          introduce: "",
          infoBackground: "",
          mainImage: "",
          skillName: "",
          skillContent: "",
          access: "",
          mainStat: "",
          baseATK: 0,
          mainValue: "",
          birthday: "",
          element: "",
          constellationName: "",
          cv: "",
          ascension: [],
          levelUp: [],
          talent: [],
          time: "",
          constellations: "",
          starIcon: "",
          numCN: [],
        },
        methods: {
          icon(name) {
            return "http://localhost:9934/resources/Version2/info/image/" + name + ".png";
          },
        },
        mounted() {
          const params = JSON.parse(
            decodeURIComponent(escape(window.atob(new URL(window.location.href).searchParams.get("data")) || "{}"))
          );

          this.rarity = params.rarity;
          this.name = params.name;
          this.id = params.id;
          this.title = params.title;
          this.type = params.type;
          this.introduce = params.introduce;
          this.infoBackground =
            "http://localhost:9934/resources/Version2/info/other/BaseBackground" + params.rarity + ".png";
          this.mainImage =
            "http://localhost:9934/resources/Version2/" +
            (params.type === "角色" ? "character/" + params.id + ".png" : "weapon/" + params.name + ".png");
          this.skillName = params.skillName;
          this.skillContent = params.skillContent;
          this.access = params.access;
          this.mainStat = params.mainStat;
          this.baseATK = params.baseATK;
          this.mainValue = params.mainValue;
          this.birthday = params.birthday;
          this.element = params.element;
          this.constellationName = params.constellationName;
          this.cv = params.cv;
          this.ascension = params.ascensionMaterials;
          this.levelUp = params.levelUpMaterials;
          this.talent = params.talentMaterials;
          this.time = params.time;
          this.constellations = params.constellations;
          this.starIcon = "http://localhost:9934/resources/Version2/info/other/BaseStar" + params.rarity + ".png";
          this.numCN = ["一", "二", "四", "六"];

          if (5 === this.rarity) {
            document.documentElement.style.setProperty("--styleColor", "rgb(205, 167, 101)");
            document.documentElement.style.setProperty("--backgroundColor", "rgb(211, 200, 187)");
            document.documentElement.style.setProperty("--dottedColor", "rgb(198, 156, 80)");
          } else if (4 === this.rarity) {
            document.documentElement.style.setProperty("--styleColor", "rgb(142, 115, 170)");
            document.documentElement.style.setProperty("--backgroundColor", "rgb(211, 211, 212)");
            document.documentElement.style.setProperty("--dottedColor", "rgb(72, 83, 101)");
          } else {
            document.documentElement.style.setProperty("--styleColor", "rgb(98, 191, 218)");
            document.documentElement.style.setProperty("--backgroundColor", "rgb(210, 212, 225)");
            document.documentElement.style.setProperty("--dottedColor", "rgb(3, 149, 166");
          }
        },
      });
    </script>
  </body>
</html>
