<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <title>genshin-artifact-vue3</title>
    <script src="../../data/js/vue3.global.prod.js"></script>
    <link rel="preload" href="../../data/font/HYWenHei-85W.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" as="script" href="component/common/param.js" crossorigin />
    <link rel="preload" as="script" href="component/common/html.js" crossorigin />
    <link rel="preload" href="component/artifact/app.js" as="script" crossorigin />
    <link rel="stylesheet" href="component/artifact/artifact.css" />
    <link rel="preload" as="image" href="../../resources/module/artifact.png" type="image/png" />
    <link rel="icon" href="data:," />
  </head>
  <body>
    <div id="app"></div>
    <script type="module">
      import App from "./component/artifact/app.js";

      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
