<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <title>genshin-material</title>
    <script src="../../data/js/vue3.global.prod.js"></script>
    <link rel="preload" href="../../data/font/HYWenHei-85W.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" as="fetch" href="/resources/etc/doc/material.json" type="application/json" crossorigin />
    <link rel="preload" as="script" href="component/common/utils.js" crossorigin />
    <link rel="preload" as="script" href="component/material/app.js" crossorigin />
    <link rel="preload" as="script" href="component/material/column.js" crossorigin />
    <link rel="stylesheet" href="./component/material/material.css" />
    <link rel="icon" href="data:," />
  </head>
  <body>
    <div id="app"></div>
    <script type="module">
      import { getParams } from "./component/common/utils.js";
      import App from "./component/material/app.js";

      const params = getParams(window.location.href);
      const characterMaterial = params.character.data.map((el) => el.ascension).flat();
      const weaponMaterial = params.weapon.data.map((el) => el.ascension).flat();
      const materials = [...characterMaterial, ...weaponMaterial];

      const app = Vue.createApp(App, {
        data: params,
      });

      fetch("/resources/etc/doc/material.json")
        .then((res) => res.json())
        .then((data) => {
          const filteredData = {};
          materials.forEach((material) => {
            filteredData[material] = data.items.find((el) => el.name === material).rarity;
          });
          app.provide("materialMap", filteredData).mount("#app");
        });
    </script>
  </body>
</html>
