<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <title>genshin-aby</title>
    <script src="../../data/js/vue2.js"></script>
    <link rel="stylesheet" href="./component/aby/aby.css" />
  </head>

  <body>
    <div id="app">
      <div class="container-horizontal">
        <div class="container-vertical abyss-briefing">
          <div class="card overview">
            <div class="title">深境螺旋战绩</div>
            <div class="overall-challenge-date">{{start_time}} - {{end_time}}</div>
            <!--结构化模版开始-->
            <div class="overall-challenge-times-by-char">
              <div
                class="challenge-times-per-char-base"
                v-for="(reveal,index) in reveal_rank"
                v-if="index < 9"
                :key="index"
              >
                <div class="background-general" :class="'star-' + reveal.rarity">
                  <img class="avatar-general" :src="reveal.avatar_icon" alt="ERROR" />
                </div>
                <div class="description-general">{{reveal.value}}次</div>
              </div>
            </div>
            <!--结构化模版结束-->
          </div>
          <div class="card detailed">
            <div class="banner-left">最多击破</div>
            <!--结构化模版开始-->
            <div class="container-horizontal char-side">
              <div
                class="container-vertical-center char-rounded"
                v-for="(defeat,index) in defeat_rank"
                v-if="index < 14"
                :key="index"
              >
                <div class="background-rounded" :class="'star-' + defeat.rarity">
                  <img class="avatar-rounded" :src="imageUrlReplacement(defeat.avatar_icon)" alt="ERROR" />
                </div>
                <div class="avatar-info">{{defeat.value}}</div>
              </div>
            </div>
            <!--结构化模版结束-->
            <div class="banner-left no-margin-top">承受伤害</div>
            <!--结构化模版开始-->
            <div class="container-horizontal char-side">
              <div
                class="container-vertical-center char-rounded"
                v-for="(take_damage,index)  in take_damage_rank"
                v-if="index < 14"
                :key="index"
              >
                <div class="background-rounded" :class="'star-' + take_damage.rarity">
                  <img class="avatar-rounded" :src="imageUrlReplacement(take_damage.avatar_icon)" alt="ERROR" />
                </div>
                <div class="avatar-info">{{take_damage.value}}</div>
              </div>
            </div>
            <!--结构化模版结束-->
            <div class="banner-left no-margin-top">元素战技</div>
            <!--结构化模版开始-->
            <div class="container-horizontal char-side">
              <div
                class="container-vertical-center char-rounded"
                v-for="(normal_skill,index) in normal_skill_rank"
                v-if="index < 14"
                :key="index"
              >
                <div class="background-rounded" :class="'star-' + normal_skill.rarity">
                  <img class="avatar-rounded" :src="imageUrlReplacement(normal_skill.avatar_icon)" alt="ERROR" />
                </div>
                <div class="avatar-info">{{normal_skill.value}}</div>
              </div>
            </div>
            <!--结构化模版结束-->
            <div class="banner-left no-margin-top">元素爆发</div>
            <!--结构化模版开始-->
            <div class="container-horizontal char-side">
              <div
                class="container-vertical-center char-rounded"
                v-for="(energy_skill,index) in energy_skill_rank"
                v-if="index < 14"
                :key="index"
              >
                <div class="background-rounded" :class="'star-' + energy_skill.rarity">
                  <img class="avatar-rounded" :src="imageUrlReplacement(energy_skill.avatar_icon)" alt="ERROR" />
                </div>
                <div class="avatar-info">{{energy_skill.value}}</div>
              </div>
            </div>
            <!--结构化模版结束-->
          </div>
        </div>
        <div class="container-vertical abyss-personal-info">
          <div class="card userID">
            <div class="title uid">UID {{uid}}</div>
          </div>
          <div class="card summary">
            <div class="banner-middle first-banner">战斗次数</div>
            <div class="banner-summary">{{total_battle_times}}</div>
            <div class="banner-middle">最深抵达</div>
            <div class="banner-summary">{{max_floor}}</div>
            <div class="banner-middle">获得渊星</div>
            <div class="banner-summary">{{total_star}}<span class="abyss-star large">*</span></div>
          </div>
          <div class="container-horizontal no-margin">
            <div class="card strongest-hit">
              <div class="banner-middle no-background">最强一击</div>
              <!--结构化模版开始-->
              <div class="container-strongest-hit">
                <div
                  class="challenge-times-per-char-base"
                  v-for="(damage,index) in damage_rank"
                  v-if="index = 1"
                  :key="index"
                >
                  <div class="background-general" :class="'star-' + damage.rarity">
                    <!--<div class="celtic-triangle">-->
                    <img class="strongest-hit" :src="imageUrlReplacement(damage.avatar_icon)" alt="ERROR" />
                    <!--</div>-->
                  </div>
                  <div class="description-general strongest-hit">{{damage.value}}</div>
                </div>
              </div>
              <!--结构化模版结束-->
            </div>
            <div class="card credit">
              <div class="credit no-margin">CREATED BY</div>
              <div class="credit no-margin">Adachi-BOT</div>
            </div>
          </div>
        </div>
      </div>
      <!--深渊模块开始-->
      <div class="container-horizontal abyss-details no-margin-left no-margin-top">
        <!--深渊数据开始-->
        <div class="card abyss" v-for="n in 4">
          <!--placeholder开始，如果该楼层有数据就显示数据，如果没有数据则显示"NO DATA"-->
          <div class="abyss-empty-record-placeholder" v-if="!floors.hasOwnProperty(n-1)">
            <div class="banner-left banner-abyss banner-placeholder">
              <p>{{parseInt(n) + 8}}-X</p>
            </div>
            <div class="container-vertical">
              <div class="abyss-details-placeholder">
                <p class="text-placeholder">----NO DATA----</p>
                <p class="text-placeholder">没有找到该层的深境螺旋记录。</p>
                <p class="text-placeholder">可能是米游社数据暂未刷新，</p>
                <p class="text-placeholder">如果确定游戏中有过该层的通关记录，</p>
                <p class="text-placeholder">请稍后再进行查询。</p>
              </div>
            </div>
          </div>
          <!--placeholder结束-->
          <div class="level" v-if="floors.hasOwnProperty(n-1)">
            <div v-for="level in floors[n-1].levels">
              <div class="battle" v-for="battle in level.battles">
                <div class="banner-left banner-abyss" v-if="battle.index==1">
                  <p style="font-size: 20px">{{floors[n - 1].index}}-{{level.index}}</p>
                  <div class="container-abyss-stars">
                    <p class="abyss-star less-glow" v-for="index in level.star" v-if="battle.index==1">*</p>
                  </div>
                  <div class="abyss-time">
                    <p>{{formatDate(new Date(battle.timestamp * 1000), "yy/MM/dd")}}</p>
                    <p>
                      <!--因为不是等宽字体，所以要给冒号做单独kerning来确保视觉效果-->
                      <span>{{formatDate(new Date(battle.timestamp * 1000), "hh")}}</span>
                      <span class="kerning">:</span>
                      <span>{{formatDate(new Date(battle.timestamp * 1000), "mm")}}</span>
                      <span class="kerning">:</span>
                      <span>{{formatDate(new Date(battle.timestamp * 1000), "ss")}}</span>
                    </p>
                  </div>
                </div>
                <!--下面就是展示人物的屎山代码了，睡起来改-->
                <div class="container-abyss-window">
                  <div class="container-horizontal abyss-char-windows no-margin">
                    <div class="abyss-level-per-char-base" v-for="avatar in battle.avatars">
                      <div class="background-general" :class="'star-' + avatar.rarity">
                        <img class="avatar-general" :src="avatar.icon" alt="ERROR" />
                      </div>
                      <div class="description-general">LV.{{avatar.level}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--深渊数据结束-->
      </div>
      <!--深渊模块结束-->
    </div>
  </body>

  <script>
    new Vue({
      el: "#app",
      data: {
        uid: 0,
        start_time: "",
        end_time: "",
        total_battle_times: 0,
        max_floor: "",
        total_star: 0,
        reveal_rank: [],
        defeat_rank: [],
        take_damage_rank: [],
        normal_skill_rank: [],
        energy_skill_rank: [],
        damage_rank: [],
        floors: [],
      },
      methods: {
        padLeftZero(str) {
          return ("00" + str).substr(str.length);
        },
        formatDate(date, fmt) {
          if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
          }
          const o = {
            "M+": date.getMonth() + 1,
            "d+": date.getDate(),
            "h+": date.getHours(),
            "m+": date.getMinutes(),
            "s+": date.getSeconds(),
          };
          for (const k in o) {
            if (new RegExp(`(${k})`).test(fmt)) {
              const str = o[k] + "";
              fmt = fmt.replace(RegExp.$1, 1 === RegExp.$1.length ? str : this.padLeftZero(str));
            }
          }
          return fmt;
        },
        imageUrlReplacement(imageURL) {
          return imageURL.replace(/_side/gi, "");
        },
      },
      mounted() {
        const params = JSON.parse(
          decodeURIComponent(escape(window.atob(new URL(window.location.href).searchParams.get("data")) || "{}"))
        );

        this.uid = params.uid;
        this.start_time = this.formatDate(new Date(params.data.start_time * 1000), "yyyy/MM/dd");
        this.end_time = this.formatDate(new Date(params.data.end_time * 1000), "yyyy/MM/dd");
        this.total_battle_times = params.data.total_battle_times;
        this.max_floor = params.data.max_floor;
        this.total_star = params.data.total_star;
        this.reveal_rank = params.data.reveal_rank;
        this.defeat_rank = params.data.defeat_rank;
        this.take_damage_rank = params.data.take_damage_rank;
        this.normal_skill_rank = params.data.normal_skill_rank;
        this.energy_skill_rank = params.data.energy_skill_rank;
        this.damage_rank = params.data.damage_rank;
        this.floors = params.data.floors.slice(-4);
      },
    });
  </script>
</html>
