<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <title>genshin-artifact</title>
    <script src="../../data/js/vue2.min.js"></script>
    <link rel="stylesheet" href="./component/artifact/artifact.css" />
    <link rel="icon" href="data:," />
  </head>
  <body>
    <div id="app">
      <div>
        <img class="background" src="http://localhost:9934/resources/module/artifact.png" alt="ERROR" />
        <div class="content">
          <p class="name">{{base.name}}</p>
          <p class="slot">{{base.slotName}}</p>
          <div class="main">
            <p class="property">{{mainStatText}}</p>
            <p class="data">{{mainValue}}</p>
          </div>
          <img class="rarity" src="http://localhost:9934/resources/item/rarity.png" alt="ERROR" />
          <img class="image" :src="artifactImage" alt="ERROR" />
          <p class="level">+{{base.level}}</p>
          <div class="sub-properties">
            <ul class="list" v-for="v in data">
              <li class="element">{{v.name}}+{{v.data}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import { getParams } from "./component/common/param.js";

      new Vue({
        el: "#app",
        data: {
          base: {},
          data: [],
          mainStat: "",
        },
        computed: {
          artifactImage() {
            return (
              "http://localhost:9934/resources/Version2/artifact/" +
              this.base.artifactID +
              "/" +
              this.base.slot +
              ".png"
            );
          },
        },
        mounted() {
          const params = getParams(window.location.href);

          this.base = params.base;
          this.data = params.data;
          this.mainStat = params.mainStat;
          this.mainStatText = params.mainStatText;
          this.mainValue = params.mainValue;
        },
      });
    </script>
  </body>
</html>
