* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("../../../../data/font/HYWenHei-85W.ttf");
  font-family: GenshinUsedFont;
  font-display: swap;
}

html {
  -webkit-text-stroke: 0.018em currentColor;
  background-color: hsl(0, 0%, 97%);
  width: 420px;
  color: #484848;
  font-family: GenshinUsedFont, monospace, sans-serif;
}

body {
  padding: 10px;
}

body:before {
  position: fixed;
  top: -10px;
  left: -10px;
  opacity: 0.3;
  background: url("../../../../resources/Version2/backgrounds/contour-background.svg");
  background-size: cover;
  width: 430px;
  height: calc(100vh + 10px);
  content: "";
}

.main-content {
  color: #636363;
}

.card-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  filter: drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.26));
}

img.avatar {
  border-radius: 50%;
  background-color: hsl(0deg 0% 83%);
  width: 100px;
  height: 100px;
}

.namecard-container {
  display: grid;
  grid-template-rows: 68px 1fr;
  grid-template-areas:
    "placeholder"
    "player-info";
  place-items: center;
  -webkit-mask: url("../../../../resources/Version2/masks/namecard-mask.svg");
  -webkit-mask-size: 100%;
  margin-top: -50px;
  border-radius: 10px 10px 0 0;
  background-size: 100% !important;
  width: 100%;
  min-height: 152px;
}

.info-container {
  grid-row-gap: 16px;
  display: grid;
  place-items: center;
  background-color: #fff;
  padding-top: 16px;
  width: 100%;
}

.player-info-container {
  grid-row-gap: 1px;
  display: grid;
  grid-template-columns: max-content auto;
  grid-area: player-info;
  justify-items: stretch;
  font-size: 18px;
}

.uid,
.player-name {
  grid-column: 1 / -1;
}

.player-name {
  width: 100%;
  text-align: center;
  text-justify: inter-character;
}

.section-container {
  grid-row-gap: 12px;
  display: grid;
}

.stats {
  grid-row-gap: 3px;
  grid-column-gap: 20px;
  display: grid;
  grid-template-columns: auto 64px auto max-content;
}

.container-title {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.title-content {
  grid-column-gap: 5px;
  display: grid;
  grid-template-rows: 30px max-content;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas:
    "arrow-left main-title arrow-right"
    "arrow-left sub-title arrow-right";
  align-items: center;
  justify-items: center;
  width: 300px;
}

.arrow-left {
  grid-area: arrow-left;
  justify-self: end;
}

.arrow-right {
  grid-area: arrow-right;
  justify-self: start;
  transform: scaleX(-1);
}

.main-title {
  transform: translateY(0.03em);
  font-size: 20px;
  white-space: nowrap;
}

.subtitle {
  grid-area: sub-title;
  font-size: 12px;
  white-space: nowrap;
}

.container-explorations {
  grid-gap: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  box-shadow: 0 0 10px hsl(0deg 0% 70% / 16%);
  border-radius: 10px;
  background-color: hsl(0, 0%, 95%);
  padding: 4px;
  min-width: 168px;
  min-height: 58px;
}

.logo {
  -webkit-mask-size: 42px;
  /* background: linear-gradient(hsl(59, 47%, 75%) 0%, hsl(42, 59%, 76%) 45%, hsl(37, 29%, 57%) 80%); */
  background: #636363;
  width: 42px;
  height: 42px;
}

.exp-area {
  grid-column-gap: 6px;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  width: 100%;
  height: 100%;
}

.container-detailed-exploration {
  grid-row-gap: 2px;
  grid-column-gap: 6px;
  display: grid;
  grid-template-columns: minmax(65px, max-content) max-content;
  grid-auto-flow: column;
  font-size: 13px;
}

.container-character-box {
  grid-gap: 8px;
  display: grid;
  grid-template-columns: repeat(4, max-content);
}

.character-box {
  display: grid;
  grid-template-rows: 0 min-content auto;
  grid-template-areas:
    "headups"
    "avatar"
    "text-area";
  box-shadow: 0 0 10px hsl(0deg 0% 70% / 16%);
  border-radius: 6px;
  background-color: hsl(0, 0%, 95%);
  width: 80px;
  min-height: 110px;
}

.container-char-headups {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "element constellation";
  grid-area: headups;
  justify-items: stretch;
  z-index: 1;
  width: 100%;
}

.element {
  margin-top: 2px;
  margin-left: 2px;
  width: 20px;
  height: 20px;
}

.constellation {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  backdrop-filter: blur(4px);
  border-radius: 0 6px;
  background: #33333391;
  width: 15px;
  height: 22px;
  color: #f0ebe3;
  font-size: 13px;
}

.main {
  grid-area: avatar;
  grid-row-start: headups;
  grid-row-end: avatar;
  border-radius: 6px 6px 12px 0;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.char-info {
  display: flex;
  grid-area: text-area;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  font-size: 10px;
}

.max-constellation {
  color: hsl(45deg 100% 64%);
  text-shadow: 0 0 4px hsl(45deg 100% 20%);
}

.char-fetter {
  margin-left: 4px;
}

.weapon-affix {
  color: hsl(36deg 70% 48%);
}

.weapon-affix:before {
  content: " ";
}

#credit {
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  padding: 5px;
  width: 100%;
  font-size: 12px;
  text-align: end;
}
