* {
  margin: 0;
  padding: 0;
}

html {
  width: 1454px;
  height: 100%;
  font-family: GenshinUsedFont, monospace;
}

img {
  display: block;
}

.avatars-box {
  background-image: url("http://localhost:9934/resources/module/card-new-middle.png");
}

.qq-avatar {
  position: absolute;
  top: 71px;
  left: 92px;
  width: 160px;
  border-radius: 320px;
  border: 7px solid white;
  box-shadow: 0 0 8px #e1dad0;
}

.base-info {
  position: absolute;
  text-align: center;
  top: 124px;
  left: 284px;
  width: 280px;
}

.base-info .nickname {
  color: rgb(64, 64, 64);
  font-size: 35px;
}

.base-info .uid {
  color: rgb(0, 176, 80);
  font-size: 23px;
}

.detail {
  top: 304px;
  position: absolute;
}

.stats {
  color: rgb(64, 64, 64);
  font-size: 32px;
  padding-bottom: 13pt;
}

.detail-left {
  left: 285px;
}

.detail-middle {
  left: 626px;
}

.detail-right {
  left: 967px;
}

.box {
  position: relative;
}

.levels {
  position: absolute;
  text-align: center;
  color: rgb(50, 50, 50);
  top: 118px;
  left: 833px;
}

.levels .adventure-level {
  font-size: 43px;
}

.levels .world-level {
  font-size: 23px;
}

.avatar {
  display: inline-block;
  height: 243px;
  margin-right: 13px;
  margin-bottom: 5px;
}

.avatar:first-child {
  margin-left: 131px;
}

.backdrop {
  position: absolute;
  margin-top: -260px;
  z-index: -1;
}

.element {
  position: relative;
}

.element .profile {
  position: relative;
  z-index: 1;
  width: 133px;
  top: -205px;
  left: 13px;
}

.element .avatar-info {
  position: relative;
  font-size: 3px;
  z-index: 1;
  float: left;
  top: -200px;
  left: 15px;
  width: 130px;
  text-align: center;
}

.avatar-info p {
  display: inline-block;
}

.avatar-info .name {
  font-size: 20px;
  color: rgb(64, 64, 64);
}

.avatar-info .weapon-name {
  color: rgb(0, 176, 80);
  font-size: 16px;
}

.avatar-info .weapon-affix {
  color: rgb(231, 13, 177);
  font-size: 16px;
}

.avatar-info .level {
  color: rgb(0, 176, 80);
  font-size: 16px;
  margin-right: 2px;
}

.avatar-info .fetter {
  color: rgb(231, 13, 177);
  font-size: 16px;
  margin-left: 2px;
}

@font-face {
  font-family: GenshinUsedFont;
  src: url("../../../../data/font/HYWenHei-85W.ttf");
}

.con {
  position: absolute;
  border-radius: 4px;
  padding-top: 5px;
  text-align: center;
  width: 20px;
  height: 25px;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

.num {
  background-color: black;
  color: white;
}

.num6 {
  background-color: rgb(255, 115, 0);
  color: black;
}

.element-border {
  background-color: #f3efea;
  width: 159px;
  height: 220px;
  border-radius: 18px;
}

.Anemo {
  box-shadow: 0 0 5px rgb(0, 255, 42);
}

.Pyro {
  box-shadow: 0 0 5px rgb(255, 62, 62);
}

.Hydro {
  box-shadow: 0 0 5px rgb(0, 38, 255);
}

.Electro {
  box-shadow: 0 0 5px rgb(162, 0, 255);
}

.Cryo {
  box-shadow: 0 0 5px rgb(0, 204, 255);
}

.Geo {
  box-shadow: 0 0 5px rgba(255, 196, 0, 0.925);
}

.None {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.925);
}

.exploration {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 25px;
  width: 1030px;
  top: 641px;
  left: 400px;
  display: flex;
  flex-wrap: wrap;
}

.mondstadt,
.liyue,
.dragonspine,
.inazuma {
  width: 290px;
  padding-right: 225px;
  padding-bottom: 93px;
}

.exp,
.level {
  width: 45px;
}

.exp {
  margin-bottom: 20px;
}

.inazuma {
  margin-top: -9px;
}

.inazuma .exp,
.inazuma .level {
  margin-bottom: 0.15cm;
}
.home {
  position: absolute;
  width: 296px;
  height: 750px;
  left: 1088px;
  top: 64px;
  border-radius: 20px;
  background-color: rgb(228, 222, 213);
}

.home .title-and-level,
.home .comfort-num {
  position: relative;
  color: rgb(64, 64, 64);
  width: 296px;
  text-align: center;
}

.home .title-and-level {
  font-size: 28px;
  top: 13px;
}

.home .comfort-num {
  font-size: 22px;
  top: 23px;
}

.home .map {
  position: relative;
  top: 7px;
}

.home-box {
  position: relative;
  margin-top: -5px;
  top: 16px;
}

.home-box .home-background {
  width: 184px;
  margin-bottom: 15px;
  margin-left: 56px;
  border-radius: 32px;
  z-index: 1;
}

.home-box .unlock,
.home-box .locked {
  position: absolute;
  top: 0;
}

.home-box .box-block {
  width: 184px;
  height: 184px;
  margin-left: 56px;
  border-radius: 32px;
}

.home-box .locked-block {
  background-color: rgba(0, 0, 0, 0.6);
}

.home-box .lock-icon {
  position: absolute;
  height: 80px;
  width: 66px;
  top: 52px;
  left: 115px;
}

.home-box .unlock-block {
  background-color: rgba(0, 0, 0, 0.22);
}

.home-box .unlock-content-block {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 122px;
  top: -153px;
  border-radius: 0;
}

.home-box .box-content {
  position: relative;
  width: 184px;
  text-align: center;
}

.home-box .name {
  position: relative;
  color: rgb(242, 210, 134);
  padding-top: 14px;
  font-size: 25px;
  padding-bottom: 12px;
}

.home-box .level {
  font-size: 22px;
  color: rgb(227, 221, 194);
}

.home-box .comfort {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 2px;
  -webkit-text-stroke: 0.012cm rgb(92, 82, 4);
}
